<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/highcharts.js" th:src="@{/js/highcharts.js}"></script>
    <style>
        .panel-group {
            max-height: 770px;
            overflow: auto;
        }

        .leftMenu {
            margin: 10px;
            margin-top: 5px;
        }

        .leftMenu .panel-heading {
            font-size: 14px;
            padding-left: 20px;
            height: 36px;
            line-height: 36px;
            color: white;
            position: relative;
            cursor: pointer; /*转成手形图标*/
        }

        /*自定义样式*/
        a :hover {
            text-decoration: none;
        }

        .header {
            width: 100%;
            height: 100px;
            background: url("/images/header.png");
            /*
                        background: url("../../static/images/header.png");
            */
            background-size: cover;
        }
    </style>
</head>
<body>
<!--头部-->
<div class="header"></div>
<div id="body">
    <!--头部下方的一条导航栏-->
    <nav class="navbar navbar-default">
        <span>
            <form action="/frontsearch" method="post" style="padding:10px">
                <input name="search" placeholder="搜索.." required>
                <button class="btn btn-info" type="submit" style="margin-left: 10px">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <span>
                    <a href="#" style="float: right;padding-right:20px;font-size: 18px">注销</a>
                </span>
            </form>

        </span>
    </nav>
    <!--侧边导航栏-->
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group table-responsive" role="tablist">
                <div class="panel panel-primary leftMenu">
                    <!-- 利用data-target指定要折叠的分组列表 -->
                    <div class="panel-heading" id="student_manage" data-toggle="collapse" data-target="#students"
                         role="tab">
                        <h4 class="panel-title">
                            学生管理
                        </h4>
                    </div>
                    <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                    <div id="students" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="student_manage">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <!--访问学生列表对应的方法所在的Controller-->
                                <a href="http://localhost:8080/manager/students?currentPage=1"
                                   target="_parent">显示所有学生信息</a>
                            </li>
                            <li class="list-group-item">
                                <a href="http://localhost:8080/manager/students/addition" target="_parent">添加学生</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">录入学生成绩</a>
                            </li>
                        </ul>
                    </div>
                </div><!--panel end-->

                <div class="panel panel-primary leftMenu">
                    <div class="panel-heading" id="teacher_manage" data-toggle="collapse" data-target="#teachers"
                         role="tab">
                        <h4 class="panel-title">
                            教师管理
                        </h4>
                    </div>
                    <div id="teachers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="teacher_manage">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="#">显示所有教师信息</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">添加教师</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">教师授课</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-primary leftMenu">
                    <div class="panel-heading" id="static_manage" data-toggle="collapse" data-target="#static"
                         role="tab">
                        <h4 class="panel-title">
                            统计管理
                        </h4>
                    </div>

                    <div id="static" class="panel-collapse collapse" role="tabpanel" aria-labelledby="static_manage">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="#">显示统计报表</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--面包屑导航栏-->
        <div class="col-md-10">
            <ol class="breadcrumb" id="crumbs">
                <li><a href="#">学生管理</a></li>
            </ol>
        </div>

        <div id="page" align="center">
            <div id="student_statistic" style="width: 800px; height: 400px"></div>
            <div id="teacher_statistic" style="margin-top:60px;width: 800px;height: 400px">
                <table class="table table-bordered table-hover table-condensed">
                    <caption class="text-center" style="font-size: 18px">教师信息统计表格</caption>
                    <tr class="active">
                        <th>职称</th>
                        <th>人数</th>
                        <th>平均工资</th>
                    </tr>
                    <tr class="success" th:each="teacher:${teacherStatistic}">
                        <td th:text="${teacher.getTtitle()}"></td>
                        <td th:text="${teacher.getCount()}"></td>
                        <td th:text="${teacher.getAvgTsalary()}"></td>
                    </tr>
                </table>
            </div>
            <div id="course_statistic" style="margin-top:-120px;width: 800px; height: 1000px"></div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(function () {
        $(".panel-heading").click(function (e) {
            /*切换折叠指示图标*/
            $(this).find("span").toggleClass("glyphicon-chevron-down");
            $(this).find("span").toggleClass("glyphicon-chevron-up");
        });
    });

    $(document).ready(function () {
        //课程统计条形图
        var chart = {
            type: 'bar'
        };
        var title = {
            text: '课程统计条形图'
        };
        /*var subtitle = {
            text: 'Source: Wikipedia.org'
        };*/

        var courseStatic = [[${courseStatistic}]];
        var xnames = [];
        var avgScores = [];
        var maxScores = [];
        var minScores = [];
        //优化版for循环
        for (j = 0, len = courseStatic.length; j < len; j++) {
            var course = courseStatic[j];
            xnames[j] = course.cname;
            avgScores[j] = course.avgScore;
            maxScores[j] = course.maxScore;
            minScores[j] = course.minScore;
        }

        console.error(courseStatic[0])
        //x坐标元素
        var xAxis = {
            categories: xnames, //这里是数组格式
            title: {
                text: "课程名"
            }
        };

        var yAxis = {
            min: 0,
            title: {
                text: '分数值',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        };
        var tooltip = {
            valueSuffix: ' 分'
        };
        var plotOptions = {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        };
        //就是那个三条线标志附的位置
        var legend = {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -20,
            y: -10,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        };
        var credits = {
            enabled: false
        };

        var series = [{
            name: 'avgScore',
            data: avgScores
        }, {
            name: 'maxScore',
            data: maxScores
        }, {
            name: 'minScore',
            data: minScores
        }
        ];

        var json = {};
        json.chart = chart;
        json.title = title;
        /*json.subtitle = subtitle;*/
        json.tooltip = tooltip;
        json.xAxis = xAxis;
        json.yAxis = yAxis;
        json.series = series;
        json.plotOptions = plotOptions;
        json.legend = legend;
        json.credits = credits;
        $('#course_statistic').highcharts(json);


        //学生总学分统计柱型图
        var chart1 = {
            type: 'column'
        };
        var title1 = {
            text: '学生总学分统计柱型图'
        };
        var studentStatistic = [[${studentStatistic}]];
        var t_xnames = [];
        var ytotalcredits = [];
        //优化版for循环
        for (j = 0, len = studentStatistic.length; j < len; j++) {
            var student = studentStatistic[j];
            t_xnames[j] = student.sname;
            ytotalcredits[j] = student.totalCredit;
        }
        var xAxis1 = {
            categories: t_xnames,
            crosshair: true
        };
        var yAxis1 = {
            min: 0,
            title: {
                text: '学分数'
            }
        };
        var tooltip1 = {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} 分</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        };
        var plotOptions1 = {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        };
        var credits1 = {
            enabled: false
        };

        var series1 = [{
            name: '总学分',
            data: ytotalcredits
        }];

        var json1 = {};
        json1.chart = chart1;
        json1.title = title1;
        json1.tooltip = tooltip1;
        json1.xAxis = xAxis1;
        json1.yAxis = yAxis1;
        json1.series = series1;
        json1.plotOptions = plotOptions1;
        json1.credits = credits1;
        $('#student_statistic').highcharts(json1);
    });
</script>
</body>
</html>