<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdedu.system.dao.LoginDao">
    <select id="loginByStudent" resultType="_int">/*如果不加_int返回值回报错,建议就是所有的都加上返回值*/
        SELECT count(*)
        FROM student
        WHERE sno = #{sno} AND spwd = #{spwd}
    </select>

    <select id="loginByStudentOnSno" resultType="_int">
        SELECT count(*)
        FROM student
        WHERE sno = #{sno}
    </select>

    <select id="loginByManager" resultType="_int">
        SELECT count(*)
        FROM manager
        WHERE tno = #{tno} AND tpwd = #{tpwd}
    </select>

    <select id="loginByManagerOnTno" resultType="_int">
        SELECT count(*)
        FROM manager
        WHERE tno = #{tno}
    </select>
</mapper>